<div class="pp-scan-label">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-10 text-center">
                <a class="btn btn-default pull-left back-btn primary-color" [routerLink]="['/drop-off']">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                Scan shipping label (Carriers only)
                <a class="btn btn-default pull-right next-btn primary-color">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <input class="form-control" placeholder="or enter Tracking #"/>
                </div>
            </div>
        </div>
    </div>
</div>
