<div class="pp-main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-10 text-center">
                What would you like to do?
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="square" [routerLink]="['drop-off']">
                            <h4 class="text-uppercase">DropOff</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="square">
                            <h4 class="text-uppercase">PickUp</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="square">
                            <h4 class="text-uppercase">Admin</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
